* { margin: 0;
    padding: 0;
}
#astartes-legion { margin-top: 0px;
}

.small-heading { margin-bottom: 25px;
                 margin-top: 25px;
                 padding-top: 25px;
                 padding-bottom: 25px;
                 border: 2px solid #fff;

}

h1 { color: #000;
     text-align: center;
}

body { background-color: #AEB4A9;
}

section { background-color: #586cdb;
          color:  white;
          text-align: center;
          border: 2px solid #fff;
}
a:link { color: #fff;
}

a:visited { color: chartreuse;
}

ul { list-style-position: inside;
}

ol { list-style-type: upper-roman;
     list-style-position: inside;
}